:root {
    --background: #f5f8fa; /* Ghost White */
    --text: #1c1e21; /* Eerie Black */
    --blue1: #4da6ff; /* Light Blue */
    --blue1-hover: #e1f0ff; /* Light Powder Blue */
    --blue2: #007bff; /* Azure Blue */
    --blue2-hover: #66b2ff; /* Lighter Azure Blue */
    --blue3: #0056b3; /* Dark Azure Blue */
    --gradient: linear-gradient(135deg, var(--blue3), var(--blue1));
    --hover: #dae7f2; /* Light Alice Blue */
    --checked: #555; /* Bright Blue */
    

    --background-dark: #0a0f24; /* Rich Navy Blue */
    --text-dark: #d9d9d9; /* Light Gray */
    --blue1-dark: #006680; /* Deep Cerulean */
    --blue1-hover-dark: #1b2a41; /* Space Cadet */
    --blue2-dark: #003366; /* Prussian Blue */
    --blue2-hover-dark: #004080; /* Dark Prussian Blue */
    --blue3-dark: #001f3f; /* Oxford Navy */
    --gradient-dark: linear-gradient(135deg, var(--blue3-dark), var(--blue1-dark));
    --hover-dark: #1b2a41; /* Space Cadet */
    --checked-dark: #999; /* Celestial Blue */
        
}

